<!DOCTYPE html>
<html>
<head>
  <title>Cocktail Result</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <% if (cocktail) { %>
      <h2><%= cocktail.strDrink %></h2>
      <img src="<%= cocktail.strDrinkThumb %>" alt="Cocktail Image" width="300">
      <h3>Instructions</h3>
      <p><%= cocktail.strInstructions %></p>
      <h3>Ingredients</h3>
      <ul>
        <% for (let i = 1; i <= 15; i++) {
          const ingredient = cocktail[`strIngredient${i}`];
          const measure = cocktail[`strMeasure${i}`];
          if (ingredient) { %>
            <li><%= measure || '' %> <%= ingredient %></li>
        <% } } %>
      </ul>
    <% } else { %>
      <p><%= error %></p>
    <% } %>
    <a href="/">Try Another Ingredient</a>
  </div>
</body>
</html>
